.day {
    -fx-background-color: lightgray;
    -fx-text-fill: blue;
    -fx-alignment: top-right;
    -fx-border-color: white;
    -fx-label-padding: 5;
}

.day.clickable {
    -fx-cursor: hand;
}

.day.current-day {
    -fx-border-color: red;
}

.day.has-events {
    -fx-text-fill: green;
}